@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 768px) {}

@import "../NombrePrincipal/Menunombre.css";

:root {
    --Colorazul: hsl(202, 100%, 71%);
    --Colorrosa: hsl(324, 81%, 71%);
    --coloroliva: hsl(64, 76%, 71%);
    --colormoka: hsl(36.136, 60%, 71%);
    --colorrojo: hsl(353, 100%, 50%);
    --colorblanco: hsl(0, 0%, 96%);
    --colorNegro: hsl(0, 0%, 0%);
    --colorGris: hsl(0, 0%, 20%);
}



