/* Importar archivo de estilos Menunombre.css del directorio superior */
@import "../NombrePrincipal/Menunombre.css";

/* Estilos para el contenedor de las redes sociales */
.redes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
}

/* Estilos para los íconos de las redes sociales */
.iconos {
    width: 50px;
    height: 50px;
}

/* Estilos para el contenedor de cada ícono */
.redes__caja {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 10px;
}

/* Animación intermitente para los íconos en dispositivos grandes */
.redes__caja__animacion {
    animation: blink-1 10s infinite alternate-reverse both;
}

@keyframes blink-1 {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

/* Desactivar animación al hacer hover en el contenedor de los íconos */
.redes__caja__animacion:hover {
    animation: none;
}

/* Estilos para el detalle de la primera red social */
.redes__detalle__1 {
    color: var(--colorrojo);
}

/* Estilos para el detalle de la segunda red social */
.redes__detalle__2 {
    color: var(--Colorrosa);
}

/* Estilos para el detalle de la tercera red social */
.redes__detalle__3 {
    color: var(--colormoka);
}

/* Animación al hacer hover en el detalle de la primera red social */
.redes__detalle__1:hover {
    color: var(--Colorazul);
}

/* Animación al hacer hover en el detalle de la segunda red social */
.redes__detalle__2:hover {
    color: var(--coloroliva);
}

/* Animación al hacer hover en el detalle de la tercera red social */
.redes__detalle__3:hover {
    color: var(--colorrojo);
}

/* Estilos para diferentes dispositivos con un ancho máximo de 480px */
@media only screen and (max-width: 480px) {
    /* Cambiar la dirección del contenedor de las redes sociales a fila */
    .redes {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    /* Aumentar el tamaño de los íconos para dispositivos pequeños */
    .iconos {
        width: 65px;
        height: 65px;
    }
}
