body{
    background-color: black;
}
.agua span {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    color: white;
    font-size:800%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.agua span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.3px #3bd9d9;
}

.agua span:nth-child(2) {
    color: rgb(128, 198, 255);
    -webkit-text-stroke: 1px #3bd9d9;
    animation: animation 3s ease-in-out infinite;
    /* Ajusta la duración a 2 segundos */
}

@keyframes animation {
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    25%, 75% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

@media only screen and (max-width: 1046px) {
    .agua span {
        font-size: 480%;
    }
}

@media only screen and (max-width: 627px) {
    .agua span {
        font-size:400%;
    }
}

@media only screen and (max-width: 523px) {
    .agua span {
        font-size:350%;
    }
}

@media only screen and (max-width: 455px) {
    .agua span {
        font-size:250%;
    }
}
@media only screen and (max-width: 280px) {
    .agua span {
        font-size:200%;
    }
}

