@import "../NombrePrincipal/Menunombre.css";
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Rubik+80s+Fade&display=swap');

.menu {

    margin-right: 100px;
    font-size: 20px;
    font-family: 'Rubik 80s Fade', cursive;
}

.menu__lista {
    -webkit-animation: text-blur-out 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3s infinite alternate both;
    animation: text-blur-out 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3s infinite alternate both;
}

@-webkit-keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }

    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}

@keyframes text-blur-out {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }

    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}

.menu__lista:hover {
    font-family: 'Tilt Prism', cursive;
    animation: none;
}







/*! colores de los enlaces */

.menu__lista__1 {
    color: var(--Colorazul);
}

.menu__lista__1:hover {
    color: var(--colormoka);
    
    animation: none;
}


.menu__lista__2 {
    color: var(--Colorrosa);
}

.menu__lista__2:hover {
    color: var(--colorrojo);
    
}

.menu__lista__3 {
    color: var(--coloroliva);
}

.menu__lista__3:hover {
    color: var(--Colorazul);
    
}

.menu__lista__4 {
    color: var(--colormoka);
}

.menu__lista__4:hover {
    color: var(--Colorrosa);
    
}

.menu__lista__5 {
    color: var(--colorrojo);
}

.menu__lista__5:hover {
    color: var(--coloroliva);
    
}