.proyectos {


    border: solid 1px blueviolet;

}

.proyectos__caja {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    border: solid 1px blueviolet;
}

.proyectos__caja__1 {
    background-image: url(../../Img/proyectos/encriptador.svg);
    width: 300px;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
}

.proyectos__caja__2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    
    
}





.proyectos__caja__enlace {
    width: 300px;
    height: 300px;
    border: solid greenyellow 1px;
}