.proyectos__contenedor {
    border: solid 1px blueviolet;
}



.proyectos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    border: solid 1px blueviolet;
}

.proyecto__1 {
    background-image: url(../../Img/proyectos/encriptador.svg);
    width: 300px;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
}

.proyectos__caja__1 {
    display: flex;
    border:  solid 1px white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.enlace__1 {
    width: 300px;
    height: 300px;
    border: solid greenyellow 1px;
}

.proyecto__2 {
    background-image: url(../../Img/proyectos/tictactoe_proyecto.svg);
    width: 300px;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
}

.proyectos__caja__2 {
    display: flex;
    border:  solid 1px white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.enlace__2 {
    width: 300px;
    height: 300px;
    border: solid greenyellow 1px;
}
