@import url(..//Css/10.contacto/contacto.css);


body{
    text-align: center;
}
a{
    text-decoration: none;
    color: blueviolet;

}
.margen{
    margin-bottom: 50px;
}

a:hover{
    color: brown;
    font-weight: bold;
}