
body{
    background-color: black;
}

.agua span {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    color: white;
    font-size: 800%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /* Limita el contenido al contenedor */
}

.agua span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.3px #3bd9d9;
}

.agua span:nth-child(2) {
    color: rgb(128, 198, 255);
    -webkit-text-stroke: 1px #3bd9d9;
}